.day {
  box-shadow: 0 0 0 1px black;
}

.day__weekday {
  padding: 0.5rem;
  background: #2f74b5;
  color: white;
}

.day__body {
  height: 250px;
  padding: 1.5rem 1rem 0;
  position: relative;
  overflow-y: auto;
}

.day__number {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
}

.day__actions {
  text-align: right;
}

.day--fill .day__number {
  opacity: 0.3; 
}

.day--weekend .day__number {
  color: #2f74b5;
}

@media screen and (min-width:992px) {

  .day {
    box-shadow: 1px 1px 0 0 black;
  }
  
  .day__weekday {
    display: none;
  }
}