@import-normalize;

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Layout classes */
.container {
  max-width: 720px;
  padding: 0 1.25rem;
  margin: 0 auto;
}

@media screen and (min-width: 991px) {

  .container {
    max-width: 920px;
  }
}

@media screen and (min-width: 1200px) {

  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {

  .container {
    max-width: 1320px;
  }
}

/*  HTML elements */
button {
  padding: 0.25rem 0.5rem;
  cursor: pointer;
}

.button {
  background-color: #2f74b5;
  color: white;
  border: 0;
  box-shadow: 1px 1px 3px 0px rgb(0 0 0 / 45%);
}

.button--icon {
  background-color: transparent;
  color: black;
  box-shadow: none;
}

input {
  height: 2rem;
}

input[type=color] {
  cursor: pointer;
}

/*  Forms */
.form__item {
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 0.5rem;
}

.form__item label {
  margin-bottom: 0.5rem;
}

.form__reminder-color {
  display: flex;
  flex-flow: row wrap;
  border: 0;
  padding: 0;
}

.form__reminder-color .form__item {
  flex: 0 0 50%;
  margin-bottom: 1rem;
}

.form__preview {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}